<footer>
    <hr>
    <a href="/sitemap">sitemap</a>
    <div style="float: right;">
        <img class="flag" src="/assets/pride.png" width="39px" alt="pride flag">
        {# <i>made with pride</i> #}
    </div>
</footer>