---
layout: base.njk
---
<h2>{{ title }}</h2>
{% if description %}
    <p class="postDesc"><i>{{ description }}</i></p>
{% endif %}

<div class="postInfo">
    <span>status: {{ status }}</span>
    <span>planted: <time datetime="{{ planted | isoDate }}">{{ planted | isoDate }}</time></span>
    <span>last tended: <time datetime="{{ page.date | isoDate }}">{{ page.date | isoDate }}</time></span>
</div>
<hr>

{{ content | safe }}
