@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-Regular.woff2') format('woff2'),
        url('Alegreya-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-Italic.woff2') format('woff2'),
        url('Alegreya-Italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-Bold.woff2') format('woff2'),
        url('Alegreya-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-BoldItalic.woff2') format('woff2'),
        url('Alegreya-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
