---
layout: base.njk
title: digital garden
excludeChildrenFromSitemap: true
---
<h2>digital garden</h2>

<p>
Welcome to my digital garden! here I cultivate and grow litle thoughts into
maybe slightly bigger ones in the medium of posts, please enjoy :)
</p>

<ul>
{% for plant in collections.plant | reverse %}
    <li>
        <b><a href="{{ plant.url }}">{{ plant.data.title }}</a></b> <br>
        <i>tended: <time datetime="{{ plant.date | isoDate }}">{{ plant.date | isoDate }}</time></i>
    </li>
{% endfor %}
</ul>
